[ req ]
prompt                 = no
distinguished_name     = dn

# The following options are set in OpenSSLConfig.php
# The default values are displayed here
#default_md            = sha256
#x509_extensions       =
#req_extensions        =
#default_bits          = 2048
#encrypt_key           = no

[dn]

[ x509_ca ]
subjectKeyIdentifier   = hash
authorityKeyIdentifier = keyid:always, issuer:always
basicConstraints       = critical, CA:TRUE
keyUsage               = cRLSign, digitalSignature, keyCertSign

[ x509_client ]
subjectKeyIdentifier   = hash
authorityKeyIdentifier = keyid:always, issuer:always
basicConstraints       = CA:FALSE
keyUsage               = digitalSignature, nonRepudiation, keyEncipherment
extendedKeyUsage       = clientAuth

[ x509_server ]
subjectKeyIdentifier   = hash
authorityKeyIdentifier = keyid:always, issuer:always
basicConstraints       = CA:FALSE
keyUsage               = digitalSignature, nonRepudiation, keyEncipherment, keyAgreement
extendedKeyUsage       = serverAuth
