[ req ]
prompt                 = no
distinguished_name     = dn

[dn]

[ x509_ca ]
subjectKeyIdentifier   = hash
authorityKeyIdentifier = keyid:always, issuer:always
basicConstraints       = critical, CA:TRUE
keyUsage               = cRLSign, digitalSignature, keyCertSign

[ x509_client ]
subjectKeyIdentifier   = hash
authorityKeyIdentifier = keyid:always, issuer:always
basicConstraints       = CA:FALSE
keyUsage               = digitalSignature, nonRepudiation, keyEncipherment
extendedKeyUsage       = clientAuth

[ x509_server ]
subjectKeyIdentifier   = hash
authorityKeyIdentifier = keyid:always, issuer:always
basicConstraints       = CA:FALSE
keyUsage               = digitalSignature, nonRepudiation, keyEncipherment, keyAgreement
extendedKeyUsage       = serverAuth
